<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pledg_gateway>
            <payment>
                <staging>1</staging>
                <staging_api_url>https://staging.back.ecard.pledg.co/api</staging_api_url>
                <prod_api_url>https://back.ecard.pledg.co/api</prod_api_url>
            </payment>
        </pledg_gateway>
        <payment>
            <pledg_gateway_1>
                <model>Pledg1PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_1>
            <pledg_gateway_2>
                <model>Pledg2PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_2>
            <pledg_gateway_3>
                <model>Pledg3PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_3>
            <pledg_gateway_4>
                <model>Pledg4PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_4>
            <pledg_gateway_5>
                <model>Pledg5PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_5>
            <pledg_gateway_6>
                <model>Pledg6PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_6>
            <pledg_gateway_7>
                <model>Pledg7PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_7>
            <pledg_gateway_8>
                <model>Pledg8PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_8>
            <pledg_gateway_9>
                <model>Pledg9PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_9>
            <pledg_gateway_10>
                <model>Pledg10PaymentGatewayFacade</model>
                <title>PledgBySofinco</title>
                <payment_action/>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <order_status>pending</order_status>
                <description>Payer en plusieurs fois</description>
                <allowspecific>1</allowspecific>
                <specificcountry/>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
            </pledg_gateway_10>
        </payment>
    </default>
</config>
