<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pledg_gateway" translate="label" sortOrder="200" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway - General configuration</label>
                <field id="staging" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Staging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>pledg_gateway/payment/staging</config_path>
                </field>
                <field id="siret_custom_field_name" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>SIRET custom field name</label>
                    <config_path>pledg_gateway/payment/siret_custom_field_name</config_path>
                </field>
                <field id="company_custom_field_name" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Company custom field name</label>
                    <config_path>pledg_gateway/payment/company_custom_field_name</config_path>
                </field>
            </group>
            <group id="pledg_gateway_1" translate="label" sortOrder="201" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 1</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="65" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_2" translate="label" sortOrder="202" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 2</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_3" translate="label" sortOrder="203" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 3</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_4" translate="label" sortOrder="204" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 4</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_5" translate="label" sortOrder="205" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 5</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_6" translate="label" sortOrder="206" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 6</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_7" translate="label" sortOrder="207" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 7</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_8" translate="label" sortOrder="208" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 8</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_9" translate="label" sortOrder="209" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 9</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
            <group id="pledg_gateway_10" translate="label" sortOrder="210" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PledgBySofinco Payment Gateway 10</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_b2b" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/pledg/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/pledg/logo</base_url>
                </field>
                <field id="api_key_mapping" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Merchant UID mapping</label>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\MerchantCountryMapping</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum order amount to activate payment method</label>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
                <field id="allowed_groups" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed groups</label>
                    <source_model>Pledg\PledgPaymentGateway\Model\Config\Source\AllowedGroups</source_model>
                </field>
                <field id="allowspecific"/>
                <field id="specificcountry"/>
            </group>
        </section>
    </system>
</config>

